{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<script>
$(document).ready(function() {
  $("tr[data-id]").click(function(ev) {
    var itemId = $(ev.target).attr("data-id");
    document.location = "{{ url_for('inventory.view_component')}}/"+itemId;
  });
});
</script>

  <header class="content-header">
    <h1>Components</h1>
  </header>

  <table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Sku</th>
        <th>Description</th>
        <th>QTY</th>
    </tr>
    {% for c in result %}
        <tr data-id="{{c.id}}">
            <td><a href="{{ url_for('inventory.view_component', component_id=c.id)}}">{{ c.sku }}</a></td>
            <td>{{ c.description }}</td>
            <td>{{ c.qty }}</td>
        </tr>
{% endfor %}
  </table>
{% endblock %}
