{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <header class="content-header">
    <h1>Purchase Orders</h1>
  </header>

  <table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Order Id</th>
        <th>Vendor Name</th>
        <th>Created on</th>
    </tr>
    {% for purchase_order in result %}
        <tr>
            <td><a href="{{ url_for('inventory.view_purchase_order', po_id=purchase_order.id) }}">{{ purchase_order.id }}</a></td>
            <td><a href="{{ url_for('inventory.view_vendor', vendor_id=purchase_order.vendor.id) }}">{{ purchase_order.vendor.name }}</a></td>
            <td>{{ purchase_order.created_on }}</td>
        </tr>
{% endfor %}
  </table>
{% endblock %}
