{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <header class="content-header">
    <h1>Purchase Order</h1>
    <h4>{{ vendor.name }}</h4>
  </header>

  <br>


  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}


    <div class="form-inline">

      {{ wtf.form_field(form.item) }}
      {{ wtf.form_field(form.quantity) }}
      {{ wtf.form_field(form.unit_price) }}

    </div>
    <div>
        <br><button class="btn btn-success" type="submit">Submit</button>
    </div>

  </form>


{% endblock %}
