{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block js %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/vue.resource/1.1.0/vue-resource.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.min.js"></script>
<script>
$(document).ready(function() {
  var app = new Vue({
    el : '#search-app',
    data : {
      items : [],
      singleTags : [],
      checkedTags: [],
      sstr : '',
    },
    created : function() {
      this.getItems();
      this.getSingleTags();
    },
    methods : {
      getItems : function() {
        this.$http.get('/api/components').then(response => {
          this.items = response.body;
        }, response => {
          console.log('error getting components');
        })
      },
      getSingleTags : function() {
        this.$http.get('/api/single-tags').then(response => {
          this.singleTags = response.body;
        }, response => {
          console.log('error getting single tags');
        })
      },
      applyToCheckIn: function(theId) {
        // select in form pull down
        $("#component").val(theId);
      },
      isItemTagged : function(item) {
        var cTags = this.checkedTags;
        var found = false;
        console.log(cTags);
        item.tags.forEach(function(cv,idx) {
          if ($.inArray(cv.name.toUpperCase(), cTags) != -1) {
            console.log("FOUND ITEM");
            console.log(cv.name, cTags);
            console.log("/FOUND ITEM");
            found = true;
          }
        });
        return found;
      }
    },
    computed: {
      filteredItems : function() {
        var str = this.sstr;
        var cTags = this.checkedTags;
        var isItemTagged = this.isItemTagged;
        return this.items.filter(function(cv) {
          return (
            cv.sku.toLowerCase().indexOf(str) > -1 || 
            cv.description.toLowerCase().indexOf(str) > -1);
        }).filter(function(v) {
          return (cTags.length == 0 || isItemTagged(v) );
        });
      }
    }

  })
});
</script>
{% endblock %}

{% block content %}

  <header class="content-header">
    <h1>Item Look Up</h1>
  </header>
  {% raw %}
  <div id="search-app">
    <label for="sstr">Search:</label>&nbsp;
    <input autocomplete="off" name="sstr" type="text" v-model="sstr">
    <ul class="list-unstyled list-inline">
      <li v-for="tag in singleTags">
        <input type="checkbox" v-model="checkedTags" v-bind:value="tag.name">
        {{tag.name}}
      </li>
    </ul>
    <table class="table">
      <tr v-for="item in filteredItems">
        <td><a v-on:click="applyToCheckIn(item.id)" class="btn btn-primary">
          {{item.sku}}
        </a></td>
        <td>{{item.description}}</td>
      </tr>
    </table>
  </div>
  {% endraw %}
  <form action="{{ url_for('inventory.checkin') }}" method="POST">
    {{form.csrf_token}}
    {{form.component.label(style="display:block")}}
    {{form.component}}
    {{form.qty.label(style="display:block")}}
    {{form.qty}}
    {{form.notes.label(style="display:block")}}
    {{form.notes}}
    {{form[the_action]}}
  </form>
{% endblock %}
