{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <header class="content-header">
    <h1>Register Vendor</h1>
  </header>

  <br>


  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}


    <div class="col-lg-4 col-sm-4">

      {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.contact) }}
      {{ wtf.form_field(form.line1) }}
      {{ wtf.form_field(form.line2) }}
      {{ wtf.form_field(form.line3) }}
      {{ wtf.form_field(form.city) }}
      {{ wtf.form_field(form.state) }}
      {{ wtf.form_field(form.zipcode) }}
      {{ wtf.form_field(form.phone) }}
      {{ wtf.form_field(form.website) }}

      <button class="btn btn-success" type="submit">Register Vendor</button>
    </div>

  </form>


{% endblock %}
